﻿header, main, footer,div.pages, table.admin_container{
	width:800px;
	margin: 0px auto;
	background:#fff;
	color:#18A0C9;
}

table.admin_container main,table.admin_container div.pages{max-width:596px;}

/**************		header		******************/
a{color:#18A0C9;}

.lang{
	padding-left:5pt;
}

.lang_container{
	position:relative;
	top:-30pt;
	float:right;
}

header{padding-bottom:5pt;}

.hello_admin{position:relative;top:-10px;}

.hello_admin h6, .hello_admin input{
	display:inline-block;
	margin:0 0 0 10px;
}
/**************		body		******************/
main{
	min-height:400px;
}

main .filter{
	width:500px;
	margin:0px auto;
	height:30px;
	overflow:visible;
}

table.admin_container{
	display:block;
}

h3,h4{
	display:inline;
}

h4{
	font-weight:normal;
	padding-left:10pt;
}

p{
	color:#000;
	text-align:justify;
	margin:5pt 0px 5pt;
}

h5,h6{
	font-size:12pt;
	font-weight:normal;
	display:inline;
}

h5{
	color:#888;
}

.toRight, .hello_admin,.delete_comment{
	float:right;
	margin:0px;
	padding-left:10pt;
}

input.toRight[type=checkbox]{
	margin-left:10pt;
}

.result section{
	position:relative;
	margin-top:30pt;
	z-index:0;
}

table.comments {
	margin-top:20pt;
	width:100%;
}

table.comments tr:nth-child(even){
	background:#C8DEE6;
}

table.comments textarea{
	width:99%;
	margin-top:10pt;
}

form.login{
	padding-top:100pt;
	margin:0px auto;
	width:200px;
}
form.login input{
	border: 1px solid #18A0C9;
	width:100%;
	padding:2px 0;
	margin:1px 0;
}
 input[type=submit],input[type=button],input[type=reset]{
	background:#18A0C9;
	color:#fff;
	border: 0;
	box-shadow:none;
	border-radius: 0px;
}

table.admin_container nav{
	width:200px;
	padding-top:60px;
}

table.admin_container > tbody >tr > td:first-child{
	background:#C8DEE6;
}

table.admin_container .pages:last-child{
	margin-top:100px;
}

nav ul{position:fixed;}
nav li a{text-decoration:none;}
nav li a:hover{color:#fff;}
nav .active{font-weight:bold;list-style-type:disc;}
nav ul>li{list-style-type:none;}

input.delete_article{
	float:right;
	width:100px;
	margin:30px 0;
}

.delete_comment{
	color:#fff;
	background:#18A0C9;
	text-decoration:none;
	padding:0 5px;
	font-family:sans-serif;
}

table.add_news{
	width:500px; 
	margin:0px auto;
}

table.add_news tr{vertical-align:top;}

table.add_news td:nth-child(2){
	min-width:250px;
}

table.add_news td:nth-child(3){
	width:140px;
	padding-left:10px;
}

table.add_news td:nth-child(3) a{
	padding-right:5px;
}

table.add_news input[type=text], table.add_news textarea, table.add_news input[type=date]{
	width:100%;
	margin-bottom:10pt;
}

table.add_news tr.add_author td{
	padding-top:30pt;
}

/**************		multiselect		******************/
.filter select,.multiselect, .filter input{
	float:left;
	margin-right:5pt;
}

.filter input[type=submit], .filter input[type=reset]{
	height:22px;
	position:relative;
	top:-1px;
}

.multiselect {
		display:inline-block;
		color:#000;
		height:20px;
    }

    .selectBox {
        position: relative;
		z-index:11;
    }
    .selectBox select {
        width: 100%;
    }
    .overSelect {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
    }
#checkboxes {
		position:relative;
        visibility:hidden;
		/*display: none;*/
		background:#fff;
        border: 1px #dadada solid;
		z-index:10;
    }
    #checkboxes label {
        display: block;
    }
    #checkboxes label:hover {
        background-color: #18A0C9;
		color:#fff;
    }

/**************		pagination		******************/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #18A0C9;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.pages{
	text-align:center;
}

/**************		footer		******************/
footer p{
	text-align: center;
	color:#18A0C9;
}